#ignore IDE settings
.idea/
#ignore downloaded xml data
hansard_xml/
#ignore saved discourse model data
discourse_model_data/
#ignore bytecode
__pycache__/
#ignore test pickle in discourse_model testing
test/discourse_model/test.p
# ignore testing files created via script
test/integration/test_scoring/annotated_data/to_compare/
test/integration/test_scoring/system_data/system_output/
test/integration/test_scoring/system_data/to_compare/
# various evaluation ignores for files created via scripts
*_to_score.json
evaluation/performance/
evaluation/mock/out.txt
evaluation/entity_performance/
