#ignore IDE settings
.idea/
#ignore downloaded xml data
hansard_xml/
#ignore saved discourse model data
discourse_model_data/
#ignore bytecode
__pycache__/
#ignore test pickle in discourse_model testing
test/discourse_model/test.p
